
/* brand colors */
$primary-red: #E71923;
$secondary-graphite: #333333;
$secondary-gray: #4f4f4f;

/* dark-text on light bg */
$dark-text-color: #333333;
$dark-accent-text-color: #828282;

/* light-text on dark bg */
$light-text-color: #ffffff;
$light-accent-text-color: #BDBDBD; 
