.sec-2 {
    position: relative;
    display: grid;
    grid-template-columns: 12.5% 1fr 1fr 12.5%;
    grid-template-areas: ". col-1 col-2 .";
    margin: 120px 24px 196px;

    .title {
        grid-area: col-1;
        margin-bottom: 24px;
        margin-right: 64px;
        max-width: 520px;

        h2 {
            margin-bottom: 24px;

            span {
                color: $dark-accent-text-color;
            }
        }

    }
    .text {
        grid-area: col-2;
        max-width: 420px;

        p {
            span {
                color: $dark-accent-text-color;
            }
        }
    } 
}

@media (max-width: 768px) {
    .sec-2 {
        grid-template-areas: "col-1 col-1 col-2 col-2";
        margin: 64px 24px 96px;
    }
}

@media (max-width: 480px) {
    .sec-2 {
        display: block;
        .title {
            margin-right: 0;
        }
    }
}