.curtains {
    width: 100%;
    height: 100%;
    position: fixed;
    //background: black;
    top: 0;
    left: 0;
    z-index: 999;
    //transition: .2s ease;
    visibility: hidden;
    
    .curtain-1 {
        width: 100%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 0;
        background: $primary-red;
        transform: translateY(100%);
    }
    .curtain-2 {
        z-index: 9999;
        width: 100%;
        height: 120%;
        position: absolute;
        top: 0;
        left: 0;
        background: $secondary-graphite;
        transform: translateY(100%);
    }

    &.active {
        visibility: visible;
        .curtain-1 {
            animation: 2s cubic-bezier(.24, .64, .24, 1) 0s curtain;
        }
        .curtain-2 {
            animation: 1.6s cubic-bezier(.24, .64, .24, 1) .4s curtain;
        }
    }

}

@keyframes curtain {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}